.audio-info {
    display: inline-block;
    width: 60%;
}

.audio-info p {
    display: inline-block;
    width: 35%;
    margin: 7px;
}

.audio-info span {
    display: inline-block;
    width: 55%;
    color: #555a66;
}

.review {
    display: none;
    vertical-align: top;
    margin-top: 10px;
    width: 280px;
}

.review textarea {
    display: inline-block;
    width: 280px;
    height: 100px;
}

.review input {
    display: inline-block;
}

.review-info {
    display: inline-block;
    margin: 10px;
    border-radius: 8px;
    border-style: groove;
    background-color: rgba(227, 255, 243, 0.63);
    width: 80%;
    padding: 5px;
}

.reviewer-info {
    display: inline-block;
    width: 90%;
}

.review-content {
    display: inline-block;
    color: #555a66;
}

.update-button{
    display:none;
    width:200px;
    vertical-align: top;
}

.tittle {
    display: inline-block;
    width: 100%;
    margin-left: 20px;
}

.tittle p {
    width: 50%;
    margin-top: 5px;
    margin-bottom: 0;
    font-family: Lobster;
    font-size: 20px;
}

.error-content{
    margin-left:0;
    width: 280px;
}

