.audio-name{
    display: inline-block;
    width: 45%;
    font-family:"Palatino Linotype";
    font-weight: 700;
    color: #050f26;
}

.audio-price{
    display: inline-block;
    width: 15%;
    margin-left: 50px;
}

.audio-price span{
    display: inline-block;
}

.info-img{
    display: inline-block;
    height: 25px;
    width: 25px;
}

.add-button{
    display:none;
    margin-left:100px;
    width:200px;
}


.total-cost{
    display:inline-block;
    position:absolute;
    margin-bottom: 2%;
    margin-left:40%;
    bottom: 0;
}

.total-cost span{
    width:30%;
    background-color: rgba(211, 228, 255, 0.3);
    color: #494949;
    margin-right:15px;
    font-family: "Century Gothic";
}

.bonus-block{
    padding: 5px 5px 80px;
    margin-left: 30px;
    margin-top:20px;

}

.bonus-block label{
    background-color: rgba(211, 228, 255, 0.3);
    color: #494949;
    font-family: "Century Gothic";
}

input[type="checkbox"] {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"] + label {
    background: url(../resource/images/checkbox.png) 0 0 no-repeat;
    padding-left: 30px;
}

input[type="checkbox"]:checked + label {
    background-position: 0 -22px;
}

.error{
    font-size: 1.2em;
}

