* {
    box-sizing: border-box;
}

body {
    color: #626262;
    background: url(../resource/images/fon_main.png) repeat;
}

.header {
    margin-top: 10px;
    text-align: center;
    font-family: "Slot Cyrillic";
    font-size: 25px;
    font-weight: 600;
}

.header a {
    border-bottom: 3px dotted #9f9f9f;
    padding: 2px 10px;
    text-decoration: none;
    color:#657007;
}

.header a:hover {
    border-bottom: 3px solid #4a9bfd;
    color: #4a9bfd;
}

.footer{
    text-align: center;
    font-family: "Slot Cyrillic";
    font-size:20px;
    font-weight: 600;
    color:#000000;
    /*margin-top:15px;*/
}

.audio-form{
    display: inline-block;
    position:relative;
    width:65%;
    margin-left: 18%;
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(132, 186, 244, 0.4);
    border-radius: 8px;
    border-style: groove;
    font-family:"Palatino Linotype";
    font-weight: 600;
    color: #354350;
    min-height: 500px;
}

.audio-block {
    padding: 5px 5px;
    margin-left: 30px;
}

.locale-block {
    display: inline-block;
    position: absolute;
    margin-left: 30px;
    width: 60px;
    font-family: "Century Gothic";
    font-size: 15px;
    z-index: 2;
}

.locale-block ul {
    display: none;
    background: rgba(236, 244, 255, 0.93);
    list-style: none;
    border-radius: 2px;
    border-style: groove;
}

.locale-block img {
    width: 25px;
    height: 25px;
}

.locale-block li {
    margin-left: -35px;
    padding: 5px;
}

.locale-block li a {
    border-bottom: none;
}

.locale-block:hover ul {
    display: block;
}

.default-button {
    display: inline-block;
    min-width: 150px;
    margin-top: 20px;
    padding: 6px 2px;
    background-color: #9dc4da;
    outline: none;
    transition: 0.4s;
    border: 2px groove;
    border-radius: 1px;
    color: #555a66;
    font-family: "Century Gothic";
    font-weight: 700;
    font-size: 13px;
}

.default-button:hover {
    background: #646464;
    cursor: pointer;
    color: #deea70;
}

.default-button:active {
    background: #ff5c41;
}

.none-display{
    display :none;
}

.page-button{
    margin-right:5px;
    display: inline-block;
    background-color: #9dc4da;
}

.error-message {
    display: none;
    margin-left: 195px;
    margin-top: 5px;
    width: 200px;
    padding: 0 10px;
    color: #f90800;
    font-weight: 600;
    font-size: 11px;
    border-radius: 4px;
    background-color: rgba(193, 138, 29, 0.4);
}

@font-face {
    font-family: "Slot Cyrillic";
    src: url(../resource/fonts/font-menu.ttf);
}

@font-face {
    font-family: "Lobster";
    src: url(../resource/fonts/font-tittle.ttf);
}

@media only screen and (max-width: 850px) {

    .audio-form{
        margin-left:0;
        width:100%;
    }
}

@media only screen and (max-width: 700px) {

    .audio-form{
        width:100%;
    }

    .header{
        width:90%;
    }

}

@media only screen and (max-width: 600px) {
    * {
        font-size: 0.97em;
    }

    span,label{
        font-size:0.8em;
    }

    .header{
        width:80%;
        font-size:20px;
        margin:0;
    }

    .default-button{
        min-width:100px;
        font-size:0.7em;
    }

    .add-button{
        margin-left:0;
        width:120px;
    }


    .footer{
        font-size:0.97em;
    }
}