.client-block {
    padding: 10px 5px;
    margin-left: 30px;
}

.client{
    display: inline-block;
    width: 70%;
    font-family:"Palatino Linotype";
    font-weight: 700;
}

.client p{
    margin-top: 5px;
}

.add-button{
    margin-left:100px;
    width:200px;
}

select{
    align-items: center;
    background-color: rgba(161, 206, 224, 0.39);
    font-family:"Palatino Linotype";
}
