.button-group {
    display: inline-block;
    width: 25%;
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px;
    vertical-align: top;
}

input[type='submit'], input[type='button'], input[type='reset'] {
    display: inline-block;
    width: 90%;
    margin-top: 20px;
    padding: 6px 2px;
    background-color: #9dc4da;
    outline: none;
    transition: 0.4s;
    border: 2px groove;
    border-radius: 1px;
    color: #555a66;
    font-family: "Century Gothic";
    font-weight: 700;
    font-size: 13px;
}

input:hover {
    background: #646464;
    cursor: pointer;
    color: #deea70;
}

input:active {
    background: #ff5c41;
}

.info-about {
    display: inline-block;
    width: 55%;
    margin-left: 30px;
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(132, 186, 244, 0.4);
    border-radius: 8px;
    border-style: groove;
    font-family: "Palatino Linotype";
    font-weight: 600;
    color: #050f26;
}

.info-about p {
    display: inline-block;
    width: 25%;
    margin: 10px;
}

.info-about span {
    display: inline-block;
    width: 55%;
}

.info-audiotrack {
    width: 100%;
    min-height: 180px;
    margin-top: 10px;
    background:rgba(72, 116, 214, 0.12);
    font-family: "Palatino Linotype";
    font-weight: 700;
    color: rgb(12, 56, 65);
}

.info-audiotrack ul {
    margin-top: 0;
    list-style-image: url(../resource/images/note-list.png);
}

.info-audio-name{
    display:inline-block;
    width: 15%;
}

.info-img{
    margin-right:10px;
}

.info-audiotrack a {
    text-decoration: none;
    font-size: 15px;
    font-family: "Century Gothic";
    color: #657007;
}

.info-audiotrack a:hover {
    color: #0268f7;
}

.tittle {
    display: inline-block;
    width: 100%;
    margin-left: 20px;
}

.tittle p {
    width: 50%;
    margin-top: 5px;
    margin-bottom: 0;
    font-family: Lobster;
    font-size: 20px;
}

.info-img {
    display: inline-block;
    height: 25px;
    width: 25px;
}

@media only screen and (max-width: 970px) {

    .button-group {
        width: 35%;
    }

    .button-group input[type=button] {
        font-size: 11px;
    }
}

@media only screen and (max-width: 600px) {
    * {
        font-size: 0.9em;
    }

    .button-group, .info-about {
        width: 100%;
    }

    .info-about {
        margin:0;
        width:100%;
    }

    .button-group input[type=button],.button-group input[type=submit] {
        width: 60%;
        margin-left: 18%;
    }

    .header{
        width:90%;
    }
}



