.modal-form {
    width: 500px;
    border-radius: 5px;
    border: 3px #000 solid;
    background: #fff;
    position: fixed;
    top: 45%;
    left: 43%;
    margin-top: -180px;
    margin-left: -150px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
    display: none;
    opacity: 0;
    z-index: 5;
    padding: 20px 10px;
    color: #626262;
    background-image: url(../resource/images/fon_main.png);
    background-repeat: repeat;
    font-family:"Palatino Linotype";
    background-color: rgba(230, 241, 255, 0.75);
    box-shadow: 0 0 5px rgba(0,0,0,0.75);
    border-radius: 4px;
}

.form-item {
    border-bottom: 1px solid #eee;
    padding: 5px 5px;
}

.form-item-label {
    display: inline-block;
    width: 190px;
}

.form-input{
    width: 200px;
}

.modal-form input[type='submit'], .modal-form input[type='reset']{
    width:180px;
}

.modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
}

#overlay {
    z-index:3;
    position:fixed;
    background-color:#000;
    opacity:0.8;
    filter:alpha(opacity=80);
    width:100%;
    height:100%;
    top:0;
    left:0;
    cursor:pointer;
    display:none;
}